<launch>
    <!-- Spawn Object in Gazebo -->
    <arg name="object_name" default="obstacle" />

    <!-- Object spawn position -->
    <arg name="obstacle_l" default="0.2" />
    <arg name="obstacle_w" default="0.5" />
    <arg name="obstacle_h" default="0.02" />
    <arg name="obstacle_d" default="0.3" />
    
    <!-- Load the URDF into the ROS Parameter Server -->
    <arg name="xacro_file_path" default="$(find millihexapod)/models/obstacle_description.xacro" />
    <param name="obstacle_description" command="$(find xacro)/xacro $(arg xacro_file_path)
        l:=$(arg obstacle_l) w:=$(arg obstacle_w) h:=$(arg obstacle_h) d:=$(arg obstacle_d)"/>

    <!-- Send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model $(arg object_name) -param obstacle_description" />

</launch>