<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- Robot spawn position -->
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.2" />

    <arg name="robot_name" default="millihex" />
    <arg name="xacro_file_path" default="$(find millihexapod)/robot/millihex_description.xacro" />

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg xacro_file_path)" />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -x $(arg x) -y $(arg y) -z $(arg z)  -model $(arg robot_name) -param robot_description" />

    <!-- Launch robot joint controllers -->
    <include file="$(find millihexapod)/launch/start_controllers.launch" />


    <!-- Choose controller manager: fake, simple, or ros_control -->
    <arg name="moveit_controller_manager" default="ros_control" />
    <!-- Set execution mode for fake execution controllers -->
    <arg name="fake_execution_type" default="interpolate" />

    <!-- Run the main MoveIt executable -->
    <include file="$(find millihexapod)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
        <arg name="fake_execution_type" value="$(arg fake_execution_type)"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="pipeline" value="ompl"/>
    </include>

</launch>