<launch>
    <!-- Start an empty world in Gazebo -->
    
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <!-- <arg name="world_name" value="$(find millihexapod)/worlds/millihex_environment.world"/> -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/> <!-- AKA headless (deprecated) -->
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
        <arg name="server_required" value="true"/>
        <arg name="gui_required" value="true"/>
    </include>

    <!-- Spawn room in Gazebo world -->
    <include file="$(find millihexapod)/launch/spawn_room.launch" />

</launch>